/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

:root {
  --ifm-color-primary: #e45d66;
  --ifm-color-primary-darker: #de4f58;
  --ifm-color-primary-darkest: #20b308135d3b;
  --ifm-color-primary-light: #b30813;
  --ifm-color-primary-lighter: #b30813;
  --ifm-color-primary-lightest: #b30813;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #dd6b73;
  --ifm-color-primary-dark: #dd6b73;
  --ifm-color-primary-darker: #dd6b73;
  --ifm-color-primary-darkest: #dd6b73;
  --ifm-color-primary-light: #dd6b73;
  --ifm-color-primary-lighter: #dd6b73;
  --ifm-color-primary-lightest: #dd6b73;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__item {
  font-size: small;
}